<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6vAiCXmbCFR9N1qgblGwL_2HjtDOsfO7ghg&usqp=CAU"
      alt=""
      srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Este é meu blog feito em angular</a></h1>
  </div>
  <div class="big-car__description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. In eget lectus id quam
      semper fringilla eget vitae diam. Sed a
      pharetra lorem. Nunc tristique, odio nec
      iaculis iaculis, metus tortor consectetur
      lorem, tincidunt lobortis nunc tortor ac nibh
      . In varius fermentum tempor. Nulla eget
      risus pharetra, bibendum eros a, sodales purus.
      Donec venenatis, turpis ac hendrerit
      consectetur, odio urna rutrum arcu, eu
      venenatis dolor leo i.</a></p>
  </div>
</div>
